        <div class="col-md-4">
            <div class="well">
                <h4>Description du blog</h4>
                <p>une petite description du blog et des auteurs...</p>
            </div>
            
        </div>