        <div class="col-md-4">
            <div class="well">
                <h4>Description du blog</h4>
                <p>une petite description du blog et des auteurs...</p>
            </div>
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <ul class="list-unstyled">
                        <li><a href="#">Categorie 1</a></li>
                        <li><a href="#">Categorie 3</a></li>
                        <li><a href="#">...</a></li>
                    </ul>
                </div>
            </div>
        </div>