body {
    padding-top: 70px; 
}

.nav-link, .navbar-brand{
	color: #000;
}

.allign{
	width: 25%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

